* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: azure;

}

.container {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}

:root {
  --primary: rgb(76, 0, 41);
  --secondary: rgb(176, 125, 230);
}
